---
import "../styles/global.css";
---

<header class="header">
    <a href="/"
        ><pre
            class="ascii-art">
███╗   ███╗ █████╗ ██████╗  ██████╗ ███╗   ██╗ █████╗ ██████╗ 
████╗ ████║██╔══██╗██╔══██╗██╔═══██╗████╗  ██║██╔══██╗╚════██╗
██╔████╔██║███████║██████╔╝██║   ██║██╔██╗ ██║███████║ █████╔╝
██║╚██╔╝██║██╔══██║██╔══██╗██║   ██║██║╚██╗██║██╔══██║ ╚═══██╗
██║ ╚═╝ ██║██║  ██║██████╔╝╚██████╔╝██║ ╚████║██║  ██║██████╔╝
╚═╝     ╚═╝╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚═════╝ 
</pre>
    </a>
</header>

<style>
    .header {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ascii-art {
        font-family: var(--font-mono) !important;
        font-size: 0.65rem;
        line-height: 1.2;
        margin: 0;
        letter-spacing: -0.05em;
        word-spacing: 0;
        color: var(--color-accent);
        opacity: 0.9;
        white-space: pre;
    }
    @media (max-width: 768px) {
        .ascii-art {
            font-size: 0.5rem;
        }
    }
    @media (max-width: 480px) {
        .ascii-art {
            font-size: 0.4rem;
        }
    }
</style>
