---
import BaseLayout from "./BaseLayout.astro";
import Heading from "../components/Heading.astro";
import MainHeading from "../components/MainHeading.astro";

const { title, pubDate } = Astro.props;
---

<BaseLayout>
    <Heading />
    <MainHeading pubDate={pubDate}>
        {title}
    </MainHeading>
    <div class="text-content">
        <slot />
    </div>
    <div class="go-back"><a href="/blog">← Back to /blog</a></div>
</BaseLayout>

<style>
    p {
        font-family: var(--font-display);
        color: var(--color-muted);
        margin: 0;
        font-weight: 300;
    }

    .go-back {
        font-family: var(--font-mono);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-display);
        font-weight: 600;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.25rem;
    }
</style>
